doctype html
html
	head
		meta(name="viewport",content="width=device-width, initial-scale=1")
		link(rel="icon", type="image/png", href="/images/coin.png")
		title coin.myles.io
		block stylesheets
			!= css('style')

	body
		include nav
		.content
			block content
		block scripts
			!= js('main')
