extends layout

block content
  .container.market-depth
    .row
      .col-xs-12.title  #{market} Exchanges (#{Object.keys(depth).length})
    .row
      .col-xs-3.side-nav
        -for(exchange in depth){
          include depth_nav_item
        -}
      .col-xs-9
        -for(exchange in depth){
          include depth
        -}
