extends layout

block content
  .container.market-depth
    
    .row
      .col-xs-3.side-nav
        .row
          .col-xs-12
            h4 #{market} (#{Object.keys(depth).length})
        -for(exchange in depth){
          include depth_nav_item
        -}
      .col-xs-9
        -for(exchange in depth){
          include depth
        -}
