extends layout

block content
  .container
    .row
      .col-xs-3
      .col-xs-6
        table.table.table-hover.table-striped.table-bordered.sortable
          thead
            tr
              th Market (#{markets.length})
              th Exchange Depths
              th Opportunities
          tbody
            for market in markets
              include market
